.container-fluid {
    position: center center;
    text-align: center;
    background-size: cover;
    /* color: white; */...color commented out because of interefering with about us page
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;)

}
/* .design22 {
    display: none;
} */
.portfolio {
    max-width: 80%;
}
#whatwedo2 {
    margin-top: 0px;
}
#product2 {
  font-size: 17px;
  font-family: sans-serif;
}
#development2 {
  font-size: 17px;
  font-family: sans-serif;
}
#design2 {
  font-size: 17px;
  font-family: sans-serif;
}
#whatwedo {
    margin-top: 65px;
}
.image {
    height: 100%;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: static;
}
.aboutuscontainer {
  font-size: 16px;
}

.mouse {
  height: 85px;
}
#welcomemessage2 {
height: 125px;
}
#welcomemessage {
  color: white;
  font-size: 35px;
  font-family: cursive;
  font-style: italic;
}
#xlogo {
    margin-top: 15%;
    padding-bottom: 140px;
}
#mouse-click{
  padding-top : 24px;
  margin-top: 13%;
  padding-bottom: 40px;
}

#title1 {
  color: white;
  font-size: 30px;
font-family: inherit;
font-weight: bolder;
padding-top: 50px
}
#message1 {
  color: white;
  font-size: 14px;
font-family: Lucida Console;
font-weight: bolder;

}
.work-heading {
    padding-left: 0;
    padding-right: 0;
}
#aboutus {
text-align: center;
padding-bottom: 30px;
padding-top:20px;
font-family: sans-serif;
}
#ourservices {
    margin-top: 20px;
    height: 60%;
    background-image: url(../assets/backgrounds/s_image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
}
#services {
    padding-top:    85px;
    padding-bottom:    45px;
    background-color: rgba(0,0,0,0.7);
}
